{% extends 'layouts/base.jinja' %}

{% block head_scripts %}
  {{ set_script('login') }}
{% endblock %}

{% block content %}
  <section class="login">
    <div class="container">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>Aprende matemáticas como Pitágoras</h1>
        </div>

        <div class="col-xs-6">
          <div class="fields">
            <form id="form-login" action="{{ url_for('login') }}" method="post">
              <h2>Ingresar</h2>
              <input type="text" name="username" placeholder="Nombre de usuario" autofocus> <br>
              <input type="password" name="password" placeholder="Contraseña"> <br>
              <button type="submit">Enviar</button>
            </form>

            <p>¿Aún no te has registrado?, <a href="/signup">registrate</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
