{% extends 'layouts/base.jinja' %}

{% block head_scripts %}
  {{ set_script('login') }}
{% endblock %}

{% block content %}
  <div class="container">
    <form id="form-login" action="{{ url_for('login') }}" method="post">
      <h1>Learn Math as Pitagoras</h1>
      <input type="text" name="username" placeholder="User name" autofocus> <br>
      <input type="password" name="password" placeholder="Password"> <br>
      <button type="submit">Log in</button>
    </form>
  </div>
{% endblock %}
