{% from 'macros.jinja' import set_script, set_style %}

<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    {% include 'partials/head.jinja' %}
    {% block head %}{% endblock %}
    {% block head_styles %}{% endblock %}
    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    {% include 'partials/header.jinja' %}
    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.jinja' %}
    {% block footer %}{% endblock %}
  </body>
</html>
