{% extends 'layouts/base.jinja' %}

{% block head_scripts %}
  {{ set_script('profile') }}
{% endblock %}

{% block content %}
  <div class="container">
    Welcome {{ user }} to <strong>Math Blog</strong> <br>
    <a href="/user/logout">Log out</a>
  </div>
{% endblock %}
