//////////
// Variables for typography.
//////////

$paragraph-font: 'Inconsolata';
$paragraph-bold-font: 'Inconsolata-Bold';
$title-font: 'Courgette';
$h-sizes: (
  6rem,
  3rem,
  2rem,
  1rem,
  .5rem,
  .25rem
);
