{% block footer %}
  <footer>
    <div class="container">
      <div class="row middle-sm center-xs">
        <div class="col-xs-12 col-sm-4">
          <h3>Pitagórico</h3>
        </div>

        <div class="col-xs-12 col-sm-4">
          <ul>
            <li><a href="/apidoc">API</a></li>
            <li><a href="https://github.com/rich-97/pitagoric">Github</a></li>
            <li><a href="/contribute">Contribuir</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
          <h4>Contacto</h4>
          <p><a href="mailto:support@pitagoric.com">support@pitagoric.com</a></p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
