{% block header %}
  <script type="x-template/underscore" id="header-auth-tmp">
    <% if (username) { %>
      <div class="header-user row middle-md">
        <div class="col-sm-6">
          <a href="/user/<%= username %>">
            <img src="<%= profile_image %>"/>
          </a>
        </div>

        <div class="col-sm-6">
          <a href="/user/<%= username %>"><%= username %></a>
        </div>
      </div>
    <% } else { %>
      <div class="header-auth-anchors row middle-sm">
        <div class="col-sm-6">
          <a href="/login">Ingresar</a>
        </div>

        <div class="col-sm-6">
          <a href="/signup">Registrarse</a>
        </div>
      </div>
    <% } %>
  </script>

  <header>
    <div class="container">
      <div class="row middle-md">
        <h3 class="col-xs-6 col-sm-3"><a href="/">Pitagorico</a></h3>

        <div class="col-xs-6" id="btn-toggle-menu">
          <i class="fa fa-reorder"></i>
        </div>

        <nav class="col-xs-12 col-sm-6 col-md-7 fadeIn-1s">
          <ul>
            <li><a href="/wall">Muro</a></li>
            <li><a href="/contact">Contacto</a></li>
          </ul>
        </nav>

        <div class="col-sm-3 col-md-2 fadeIn-2s" id="header-auth"></div>
      </div>
    </div>
  </header>
{% endblock %}
